---
http_interactions:
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"email_10@example.com","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "10df3b28-1c83-11e3-890b-0401041e8a01"}'
  recorded_at: Fri, 13 Sep 2013 14:45:01 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"10df3b28-1c83-11e3-890b-0401041e8a01","SecondaryContactURI":"11312082-1c83-11e3-8021-0401041e8a01","ExecutiveContactURI":"10df3b28-1c83-11e3-890b-0401041e8a01","AdminAccount":{"UserName":"jmaltais","ContactURI":"10df3b28-1c83-11e3-890b-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "11a490d0-1c83-11e3-927c-0401041e8a01"}'
  recorded_at: Fri, 13 Sep 2013 14:45:03 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"primary_uri","SecondaryContactURI":"secondary_uri","ExecutiveContactURI":"primary_uri","AdminAccount":{"UserName":"fthe
        admin","ContactURI":"primary_uri","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: The entry ou=Awesome organization,ou=organizations,dc=ois,dc=cloop,dc=co
        cannot be added because an entry with that name already exists
  recorded_at: Fri, 13 Sep 2013 14:45:03 GMT
recorded_with: VCR 2.2.5
