---
http_interactions:
- request:
    method: post
    uri: https://ois.cloop.co/masas/organizations
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n    <!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n    <html>\n
        \       <head>\n            <title>Error: 404 Not Found</title>\n            <style
        type=\"text/css\">\n              html {background-color: #eee; font-family:
        sans;}\n              body {background-color: #fff; border: 1px solid #ddd;\n
        \                   padding: 15px; margin: 15px;}\n              pre {background-color:
        #eee; border: 1px solid #ddd; padding: 5px;}\n            </style>\n        </head>\n
        \       <body>\n            <h1>Error: 404 Not Found</h1>\n            <p>Sorry,
        the requested URL <tt>&#039;https://ois.cloop.co/masas/organizations&#039;</tt>\n
        \              caused an error:</p>\n            <pre>Not found: &#039;/organizations&#039;</pre>\n
        \       </body>\n    </html>\n"
  recorded_at: Wed, 28 Aug 2013 14:03:29 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n    <!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n    <html>\n
        \       <head>\n            <title>Error: 404 Not Found</title>\n            <style
        type=\"text/css\">\n              html {background-color: #eee; font-family:
        sans;}\n              body {background-color: #fff; border: 1px solid #ddd;\n
        \                   padding: 15px; margin: 15px;}\n              pre {background-color:
        #eee; border: 1px solid #ddd; padding: 5px;}\n            </style>\n        </head>\n
        \       <body>\n            <h1>Error: 404 Not Found</h1>\n            <p>Sorry,
        the requested URL <tt>&#039;https://ois.continuumloop.com/masas/organizations&#039;</tt>\n
        \              caused an error:</p>\n            <pre>Not found: &#039;/organizations&#039;</pre>\n
        \       </body>\n    </html>\n"
  recorded_at: Wed, 28 Aug 2013 14:28:00 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[<ValidationError: "u''PrimaryContactURI'' is a required property">,
        <ValidationError: "u''SecondaryContactURI'' is a required property">, <ValidationError:
        "u''ExecutiveContactURI'' is a required property">, <ValidationError: "u''AdminAccount''
        is a required property">]'
  recorded_at: Wed, 28 Aug 2013 15:15:15 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"jevin@quickjack.ca","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "08db891e-1002-11e3-9097-0401041e8a01"}'
  recorded_at: Wed, 28 Aug 2013 16:51:08 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"08db891e-1002-11e3-9097-0401041e8a01","SecondaryContactURI":"09214bb6-1002-11e3-96b3-0401041e8a01","ExecutiveContactURI":"08db891e-1002-11e3-9097-0401041e8a01"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[<ValidationError: "u''AdminAccount'' is a required property">]'
  recorded_at: Wed, 28 Aug 2013 16:51:10 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"08db891e-1002-11e3-9097-0401041e8a01","SecondaryContactURI":"09214bb6-1002-11e3-96b3-0401041e8a01","ExecutiveContactURI":"08db891e-1002-11e3-9097-0401041e8a01","AdminAccount":{"UserName":"jmaltais","ContactURI":"08db891e-1002-11e3-9097-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "3550a160-1006-11e3-96b3-0401041e8a01"}'
  recorded_at: Wed, 28 Aug 2013 17:21:01 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"e11420c0-1025-11e3-93b0-0401041e8a01","SecondaryContactURI":"e9387eb8-1025-11e3-9a74-0401041e8a01","ExecutiveContactURI":"e11420c0-1025-11e3-93b0-0401041e8a01","AdminAccount":{"UserName":"jmaltais","ContactURI":"e11420c0-1025-11e3-93b0-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: The entry uid=jmaltais,ou=accounts,dc=ois,dc=cloop,dc=co cannot be added
        because an entry with that name already exists
  recorded_at: Wed, 28 Aug 2013 21:08:05 GMT
recorded_with: VCR 2.2.5
