---
http_interactions:
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais111","title":"President","language":"en","email":"email_4@example.com","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "72327b34-26dc-11e3-a5b8-0401041e8a01"}'
  recorded_at: Thu, 26 Sep 2013 18:50:15 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization 111","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"72327b34-26dc-11e3-a5b8-0401041e8a01","SecondaryContactURI":"726fe9f6-26dc-11e3-931c-0401041e8a01","ExecutiveContactURI":"72ad3266-26dc-11e3-a3d6-0401041e8a01","AdminAccount":{"UserName":"jmaltais111","ContactURI":"72327b34-26dc-11e3-a5b8-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "72eab096-26dc-11e3-a808-0401041e8a01"}'
  recorded_at: Thu, 26 Sep 2013 18:50:16 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization 222","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"2774c804-27a4-11e3-93ec-0401041e8a01","SecondaryContactURI":"27b3b0f0-27a4-11e3-9413-0401041e8a01","ExecutiveContactURI":"27b3b0f0-27a4-11e3-9413-0401041e8a01","AdminAccount":{"UserName":"jmaltais222","ContactURI":"2774c804-27a4-11e3-93ec-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: The entry uid=jmaltais222,ou=accounts,dc=ois,dc=cloop,dc=co cannot be
        added because an entry with that name already exists
  recorded_at: Fri, 27 Sep 2013 18:39:40 GMT
recorded_with: VCR 2.2.5
