---
http_interactions:
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"email_10@example.com","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "1427640c-1ba9-11e3-9b17-0401041e8a01"}'
  recorded_at: Thu, 12 Sep 2013 12:44:39 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"1427640c-1ba9-11e3-9b17-0401041e8a01","SecondaryContactURI":"1473f8c6-1ba9-11e3-9947-0401041e8a01","ExecutiveContactURI":"1427640c-1ba9-11e3-9b17-0401041e8a01","AdminAccount":{"UserName":"jmaltais","ContactURI":"1427640c-1ba9-11e3-9b17-0401041e8a01","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "15150d24-1ba9-11e3-a166-0401041e8a01"}'
  recorded_at: Thu, 12 Sep 2013 12:44:41 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/organizations/
    body:
      encoding: UTF-8
      string: ! '{"OrgName":"Awesome organization","address-line1":"Nowhere 42","province-state":"Ontario","country":"CA","postal-code":"K1J
        1A6","PrimaryContactURI":"primary_uri","SecondaryContactURI":"secondary_uri","ExecutiveContactURI":"primary_uri","AdminAccount":{"UserName":"fthe
        admin","ContactURI":"primary_uri","Password":"somestaticpasswd","AccessCode":"somestaticaccesscode"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: US-ASCII
      string: The entry ou=Awesome organization,ou=organizations,dc=ois,dc=cloop,dc=co
        cannot be added because an entry with that name already exists
  recorded_at: Thu, 12 Sep 2013 12:53:39 GMT
recorded_with: VCR 2.2.5
