---
http_interactions:
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"jevin@quickjack.ca","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "c6ad4fea-0ff3-11e3-8763-0401041e8a01"}'
  recorded_at: Wed, 28 Aug 2013 15:09:06 GMT
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"email_9@example.com","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "ac24fbb4-1025-11e3-9097-0401041e8a01"}'
  recorded_at: Wed, 28 Aug 2013 21:06:15 GMT
recorded_with: VCR 2.2.5
