---
http_interactions:
- request:
    method: post
    uri: https://ois.cloop.co/masas/contacts
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"jevin@quickjack.ca","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "0e23b0c8-f49a-11e2-97fb-0401041e8a01", "success":
        true}'
  recorded_at: Wed, 24 Jul 2013 19:48:48 GMT
recorded_with: VCR 2.2.5
