---
http_interactions:
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais","title":"President","language":"en","email":"email_3@example.com","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "71efbfc4-26dc-11e3-8eef-0401041e8a01"}'
  recorded_at: Thu, 26 Sep 2013 18:50:14 GMT
[...]
- request:
    method: post
    uri: https://ois.continuumloop.com/masas/contacts/
    body:
      encoding: UTF-8
      string: ! '{"firstName":"Jevin","lastName":"Maltais444","title":"President","language":"en","email":"jevin@quickjack.ca","office-phone":"613-265-5389"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"MasasUUID": "865d636e-31bb-11e3-bc51-0401041e8a01"}'
  recorded_at: Thu, 10 Oct 2013 14:52:09 GMT
recorded_with: VCR 2.2.5
