<% title 'Dashboard' %>

<p><%= @pending_approval_organizations.count %> Organizations pending approval</p>

<p><%= @approved_organizations.count %> Organizations approved</p>

<p><%= @rejected_organizations.count %> Organizations rejected</p>

<p><%= link_to 'Review Pending Applications', admin_organizations_path(status: 'completed'), class: 'btn btn-primary' %></p>
