<ul class="nav nav-pills">
  <% for step in Navigator.steps(@organization) %>
    <li class="<%= 'active' if @organization.status?(step) %>">
    <a><%= step.to_s.humanize %></a>
    </li>
  <% end %>
</ul>
