<% title 'Step 1' %>

<ul class="nav nav-pills">
  <li class="active">
  <%= link_to '1', registration_path  %>
  </li>
  <li><a>2</a></li>
  <li><a>3</a></li>
  <li><a>4</a></li>
</ul>

<%# <%= simple_form_for @user do |f| %1> %>
<%#   <%= f.input :agreement %1> %>

<%#   <ul class="pager"> %>
<%#     <li class="previous"> %>
<%#     <a href="#">Cancel</a> %>
<%#     </li> %>
<%#     <li class="next"> %>
<%#     <%= f.button :submit, 'Next' %1> %>
<%#     </li> %>
<%#   </ul> %>
<%# <% end %1> %>
