<% title 'Thank you for applying' %>

<% content_for :sidebar do -%>
  <p>Applications are generally processed within three business days of
  receiving all required information, references and endorsements. If you need
  to follow up with us, please send an email to 
  <a href="mailto:support@masas-x.ca">support@masas-x.ca</a>.</p>
<% end -%>

<p>Your application has been received and a confirmation email has been sent to
the Primary Contact.</p>
