<% title 'Organizations' %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for organization in @organizations %>
      <tr>
        <td><%= organization.name %></td>
        <td>
          <div class="btn-toolbar">
            <%= link_to 'Approve', approve_admin_organization_path(organization), class: 'btn'  %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
