<% title 'Organization Details' %>

<p>Department name: <%= @organization.department %></p>
<p>Division: <%= @organization.division %></p>
<p>Telephone: <%= @organization.telephone %></p>
<p>Website: <%= @organization.website %></p>
