<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'MASAS-X', root_path, class: 'brand'  %>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
            <li><%= link_to 'Application for Participant Organization', registration_path  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
