<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Info</li>
    <li><%= content_for?(:sidebar) ? content_for(:sidebar) : 'No information available at the moment.' %></li>
  </ul>
</div>
