<% content_for :container do %>
  <div class="row-fluid">
    <div class="span12">
      <%= render partial: 'common/flashes' %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/common' %>
