<% content_for :container do %>
  <div class="row-fluid">
    <div class="span12">
      <%= render partial: 'common/flashes' %>
      <div class="hero-unit">
        <h1>MASAS-X Registration</h1>
        <p>A common hub for all location-based, real-time emergency data.</p>
        <p><%= link_to ('Apply now &raquo').html_safe, registration_path, :class =>'btn btn-primary btn-large' %></p>
      </div>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/common' %>

