<% content_for :container do %>
  <div class="row-fluid">
    <div class="span12">
      <%= render partial: 'common/flashes' %>
      <div class="hero-unit">
        <h1>MASAS-X Registration</h1>
        <p>A common hub for all location-based, real-time emergency data.</p>
        <p><%= link_to ('Apply now &raquo').html_safe, registration_path, :class =>'btn btn-primary btn-large' %></p>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Multi-level participation</h2>
           <p>Municiple, Provincial, Federal and Private Industry can participate</p>
        </div>
        <div class="span4">
          <h2>Easy Access Control</h2>
           <p>We make it intuitive to manage who can post and see data in your organzation</p>
       </div>
        <div class="span4">
          <h2>Awesome Tools</h2>
          <p>View and submit live data from a browser, or your smartphone.  All tools made public and open source so you can customize it for your organizational needs</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/common' %>

